@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.footer {
  background: #eeeeee;
  align-items: flex-end;
  margin-top: auto;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-links, .right-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

li {
  margin: 10px;
}

img {
  width: 600px;
}

.buttons {
  margin-top: 20px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
